@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DejaVu';
    src: url('/DejaVuSansMono.ttf');
}

:root {
    --dark-color: rgb(51, 43, 53);
    --light-color: PapayaWhip;
}


body {
    background: var(--dark-color);
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.Card {
    background-color: rgba(175, 175, 175, .1);
    border-radius: 10px;
    padding: 2vh;
    border: white 2px solid;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;
    box-shadow: rgba(0, 0, 0, 10.35) 0px 5px 15px;
}

#PictureContainer>img {
    border-radius: 50%;
    border: 2px solid white;
    border-top-left-radius: 50% calc(50% - 15px);
    border-top-right-radius: calc(50% - 15px) 50%;
    border-bottom-right-radius: 50% calc(50% - 15px);
    border-bottom-left-radius: calc(50% - 15px) 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

footer {
    color: var(--light-color);
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#BasicInfo {
    display: grid;
    grid-gap: 4vh;
    flex: 1;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: bottom;
    align-items: center;
    font-size: 1.3rem;
}

.Info {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, 0) 100%);
    display: grid;
    grid-template-columns: 9rem 1fr;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    align-items: center;
}

.Label {
    background-color: #698763;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 1px 10px 1px 2px;
    padding: 1px 0 1px 0;
}

.TerminalContainer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 40px;
    box-shadow: #262227 0px 7px 29px 0px;
    overflow: scroll;
    font-family: 'DejaVu';
    overflow: hidden;
}

#Terminal {
    color: #dad6e8;
    background-color: #1b1825;
    padding: 0 4px 0 4px;
    overflow-y: scroll;
    font-size: .9rem;
}
#Terminal::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  #Terminal::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  #Terminal::-webkit-scrollbar-thumb {
    background: #767677;
    border-radius: 100px;
  }
  
  /* Handle on hover */
  #Terminal::-webkit-scrollbar-thumb:hover {
    background: #636364;
  }

#TerminalTop {
    height: 50px;
    background-color: #2b2b2b;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
#TerminalInput{
    background-color: transparent;
    width: 100%;
    height: 100%;
    resize: none;
}
#TerminalInput:focus {
    outline: none;
}
.Link {
    position: relative;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--light-color);
}

.LinkBaseImage,
.LinkHoverImage {
    position: absolute;
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease;
}

.LinkHoverImage {
    opacity: 0;
}

.Link:hover .LinkHoverImage {
    opacity: 1;
}

@keyframes rotateAndPulse {
    0% {
        transform: rotate(0deg) scale(1.2);
    }

    25% {
        transform: rotate(90deg) scale(1.4);
    }

    50% {
        transform: rotate(180deg) scale(1.2);
    }

    75% {
        transform: rotate(270deg) scale(1.4);
    }

    100% {
        transform: rotate(360deg) scale(1.2);
    }
}

.Link:hover {
    animation: rotateAndPulse 4s linear infinite;
}

.NavItem {
    width: 100%;
}